[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
tox = "*"
flake8 = "*"
coverage = "*"
black = "==19.3b0"
pylint-django = "*"
factory-boy = "*"
pytest-django = "*"
django-extensions = "*"
django-debug-toolbar = "*"
pytest-cov = "*"
ipython = "*"
pytest-pythonpath = "*"
isort = "*"
pytest-sugar = "*"

[packages]
django = "*"
argon2-cffi = "*"
sentry-sdk = "==0.7.9"
boto3 = "*"
django-secrets-manager = "*"
django-storages = "*"
psycopg2-binary = "*"

[requires]
python_version = "3.6"
